@import "tailwindcss";

@theme {
  --color-silver: #d1d1c7;
  --color-bgBlack: #0a0a0a;
}

::selection {
  background-color: oklch(69.6% 0.17 162.48);
  color: white;
}

::-moz-selection {
  background-color: oklch(69.6% 0.17 162.48);
  color: white;
}

@layer base {
  body {
    font-family: var(--font-inter), sans-serif;
  }

  .font-heading {
    font-family: var(--font-cabinet), sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #0a0a0a;
  /* color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
}
